textarea {
    min-height: 180px;
}

body {
    background: mistyrose;
}

.mail--read {
    background: transparent;
    border: 0.02rem dashed black;
    border-radius: 0.5rem;
}

.mail--unread {
    background: rgba(255, 218, 185, 0.315);
    border: 0.05rem solid black;
    border-radius: 0.5rem;
}

.mail__value {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "one two three";
    grid-gap: 1rem;
    margin-bottom: 1.25rem;
}

.mail__from {
    grid-area: one;
}

.mail__subject {
    grid-area: two;
}

.mail__time {
    grid-area: three;
    text-align: end;
}

@media only screen and (max-width: 800px) {
    .mail__value {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "one two two";
        grid-gap: 20px;
    }

    .mail__time {
        display: none;
    }

    .mail__subject {
        text-align: end;
    }

    .nav-grid {
        justify-items: center;
    }
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    align-items: center;
    grid-gap: 10px;
}

.menu {
    text-align: end;
}

a {
    color: black;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

a:hover {
    text-decoration: none;
    color: black;
    top: -0.5rem;
}

a:hover>div {
    box-shadow: 1px 1px #c58309,
        2px 2px #c58309,
        3px 3px #c58309,
        4px 4px #c58309,
        5px 5px #c58309;
}

.details-grid {
    height: 84vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr 1fr;
}